<div>
  <div>
    <h2>Username: </h2>
    <input type = "text" name="newUsername" [(ngModel)]="newUsername">
  </div>
  <div>
    <h2>Email: </h2>
    <input type = "text" name="email" [(ngModel)]="email">
  </div>
  <div>
    <h2>Passowrd: </h2>
    <input type = "newPassword" name="newPassword" [(ngModel)]="newPassword">
  </div>
  <div>
  <h2>Confirm Passowrd: </h2>
    <input type = "toConfirmPassword" name="toConfirmPassword" [(ngModel)]="toConfirmPassword">
  </div>
  <button (click)=handleSignup()>Login</button>
</div>